

<script>
function DeleteRow() {
    if(confirm('Bạn có muốn xóa không ?'))
    {
      return true;
    }
    else
    {
      return false;
    }
}
</script>


<div class="box">
    <header>
        <div class="icons"><a href="/loaihang/edit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Chỉnh Sửa</a></div>
        <h5>Thuộc Tính</h5>
    </header>

    <div class="body">
        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <table class="table table-bordered table-hover table-striped dataTable">
                        <thead>
                            <tr>
                                <th width="15%">Mã loại</th>
                                <th width="45%">Tên loại</th>
                                <th width="40%">Ghi chú</th>
                                <th width="10%">Chọn</th>
                            </tr>
                        </thead>
                        <tbody id="table">
                            <% @list.each do |row| %>
                            <tr>
                                <td align="center"><%= row['id_loai'] %></td>
                                <td><%= row['tenloai'] %></td>
                                <td><%= row['ghichu'] %></td>
                                <td align="center"><a href="/loaihang/delete/<%=row['id_loai']%>" onclick="return DeleteRow();" class="text-danger"><i class="glyphicon glyphicon-trash"></i></td>
                            </tr>
                            <% end %>
                        </tbody>                
                    </table>
                </div>
            </div>
            
        </div>
    </div>
</div>