<div id="left">
    <div class="media user-media bg-dark dker">
        <div class="user-media-toggleHover">
            <span class="glyphicon glyphicon-user"></span>
        </div>
        <div class="user-wrapper bg-dark">
            <a class="user-link" href="">
                <img class="img-thumbnail user-img" alt="User Picture" src="/images/user.png">
                <span class="label label-danger user-label"></span>
            </a>

            <div class="media-body">
                <h5 class="media-heading">Admin</h5>
                <ul class="list-unstyled user-info">
                    <li><a href="javascript:void(0);">Nguyễn Văn A</a></li>
                    <li>Truy cập lần cuối : <br>
                        <small><i class="glyphicon glyphicon-calendar"></i>&nbsp;11:11 AM</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul id="menu" class="bg-dark dker">
        <li class="nav-header">Menu</li>
        <li class="nav-divider"></li>
        <li>
            <a href="/dashboard">
                <i class="glyphicon glyphicon-dashboard"></i><span class="link-title">&nbsp;Thống Kê</span>
            </a>
        </li>
        
        <li>
            <a href="javascript:void(0);">
                <i class="fa fa-navicon"></i>
                <span class="link-title">Danh Mục Hàng Hóa</span>
                <span class=" pull-right" style="padding-right:15px"><i class="glyphicon glyphicon-chevron-down"></i></span>
            </a>
            <ul class="collapse">
                <li>
                    <a href="/hanghoa">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;Hàng Hóa</a>
                </li>
                <li>
                    <a href="/loaihang">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;Loại Hàng</a>
                </li>
                <li>
                    <a href="/donvi">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;Đơn Vị Tính</a>
                </li>
            </ul>
        </li>
        
        <li>
            <a href="javascript:void(0);">
                <i class="glyphicon glyphicon-usd"></i>
                <span class="link-title">Bán Hàng</span>
                <span class=" pull-right" style="padding-right:15px"><i class="glyphicon glyphicon-chevron-down"></i></span>
            </a>
            <ul>
                <li>
                    <a href="/banhang">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;Bán Hàng</a>
                </li>
                <li>
                    <a href="/banhang/hoadon">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;Hóa Đơn</a>
                </li>
                <li>
                    <a href="/loaithanhtoan">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;Loại Thanh Toán</a>
                </li>
            </ul> 
        </li>
        
        <li>
            <a href="javascript:void(0);">
                <i class="fa fa-product-hunt"></i>
                <span class="link-title">Nhập Hàng</span>
                <span class=" pull-right" style="padding-right:15px"><i class="glyphicon glyphicon-chevron-down"></i></span>
            </a>
            <ul>
                <li>
                    <a href="/nhaphang">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;Nhập Hàng</a>
                </li>
                <li>
                    <a href="/phieunhap">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;Phiếu Nhập</a>
                </li>
                <li>
                    <a href="/tknhaphang">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;Thống Kê Nhập Hàng</a>
                </li>
            </ul> 
        </li>
        
        <li>
            <a href="javascript:void(0);">
                <i class="fa fa-newspaper-o"></i>
                <span class="link-title">Phát Sinh</span>
                <span class=" pull-right" style="padding-right:15px"><i class="glyphicon glyphicon-chevron-down"></i></span>
            </a>
            <ul>
                <li>
                    <a href="/phatsinh">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;Phát Sinh</a>
                </li>
                <li>
                    <a href="/tkphatsinh">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;Thống Kê Phát Sinh</a>
                </li>
            </ul>
        </li>
        
        
        <li>
            <a href="javascript:void(0);">
                <i class="glyphicon glyphicon-user"></i>
                <span class="link-title">Khách Hàng</span>
                <span class=" pull-right" style="padding-right:15px"><i class="glyphicon glyphicon-chevron-down"></i></span>
            </a>
            <ul class="collapse">
                <li>
                    <a href="/khachhang">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;Khách Hàng</a>
                </li>
                <li>
                    <a href="/thanhtoan">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;Thanh Toán Nợ</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/nhanvien">
                <i class="fa fa-gift"></i>
                <span class="link-title">Nhân Viên</span>
            </a>
        </li>
        <li>
            <a href="/nhacungcap">
                <i class="fa fa-gears"></i>
                <span class="link-title">Nhà Cung Cấp</span>
            </a>
        </li>
        
        <li>
            <a href="/congno">
                <i class="fa fa-gift"></i>
                <span class="link-title">Công Nợ</span>
            </a>
        </li>
        
        
        <li>
            <a href="javascript:void(0);">
                <i class="glyphicon glyphicon-user"></i>
                <span class="link-title">Hệ Thống</span>
                <span class=" pull-right" style="padding-right:15px"><i class="glyphicon glyphicon-chevron-down"></i></span>
            </a>
            <ul class="collapse">
                <li>
                    <a href="/cuahang">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;Thông Tin Cửa Hàng</a>
                </li>
                <li>
                    <a href="/taikhoan">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;Người Dùng</a>
                </li>
            </ul>
        </li>
        <li class="nav-divider">

        </li>
        <li>
            <a href="/login/logout">
                <i class="glyphicon glyphicon-log-in"></i>
                <span class="link-title">Đăng Xuất</span>
            </a>
        </li>
    </ul>
</div>